@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body, *{
   font-family: 'Lato', sans-serif;
}
.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  background-color: #cf9fe5;
  border-top: 2px solid #cf9fe5;
  color:#652d92;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color:#eac8f9 !important;
  text-decoration: none;
  background: #652d92;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  cursor:pointer;
  text-align: center;
}